.App {
    text-align: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(
        121.51deg,
        #0a1830 -19.56%,
        #04122c 107.27%
    ) !important;
    color: #fff !important;
}

.Image {
    font-size: 60px;
    margin: 50px;
    color: rgb(255, 145, 1);
}

.ImageTwo {
    font-size: 60px;
    margin: 50px;
    color: limegreen;
}

.ImageThree {
    font-size: 60px;
    margin: 50px;
    color: rgb(33, 96, 189);
}

.ImageFour {
    font-size: 60px;
    margin: 50px;
    color: rgba(255, 8, 8, 0.87);
}

.ImageFive {
    font-size: 60px;
    margin: 50px;
    color: rgba(147, 7, 160, 0.959);
}

.ImageSix {
    font-size: 60px;
    margin: 50px;
    color: rgb(107, 164, 248);
}

.log {
    background-color: #0d6efd;
    color: white;
    /* position: absolute; */
    /* top: 15px; */
    padding: 10px;
    border: none;
    border-radius: 4px;
    /* right: 58px; */
    cursor: pointer;
}

.log:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.first-H {
    text-transform: uppercase;
    color: white;
    padding: 0px !important;
    margin: 20px;
    margin-left: 25px;
    text-align: left;
}

br,
hr {
    margin: 0 !important;
    margin-bottom: 10px !important;
}

.first {
    float: left;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background-color: rgba(17, 16, 16, 0.4);
    user-select: none;
}

.card {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background: transparent !important;
    /* color: #282c34 !important; */
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    user-select: none;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card a:hover {
    text-decoration: none;
    color: inherit;
}

.cardOne {
    display: flex;
    border: none;
    border-radius: 4px;
    border: 2px solid rgba(89, 105, 133, 0.5);
    border-radius: 10px;
    background-color: rgba(27, 44, 71, 0.5);
    margin: 30px;
    width: 253px;
    align-items: center;
}

.cardOne:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.imageOne {
    font-size: 20px;
    margin-right: 10px;
    color: white;
}

.link {
    text-decoration: none !important;
    height: 60px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 33px;
}

.link:hover,
.link:visited,
.link:focus {
    background-color: black;
    color: #fff;
}

.third {
    padding-top: 10px;
    padding-left: 5px;
}

.third-H {
    padding-top: 10px;
    padding-bottom: 12px !important;
    user-select: none;
}

.top__box__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 12px !important;
    user-select: none;
    height: 76px;
}

.User,
.Products,
.Orders,
.Category {
    display: flex;
    flex-direction: column;
    max-height: 76vh;
    width: 83vw;
    margin-top: 0;
    overflow: scroll;
}

input {
    padding: 10px;
    border-radius: 4px;
    background: rgba(196, 196, 196, 0.4);
    color: #fff;
    border: none;
    margin-left: 4px;
    width: 90%;
    outline: none;
}

input::placeholder {
    color: #fff;
}

table {
    /* border: 2px solid rgba(89, 105, 133, 0.5) !important; */
    /* background: transparent !important; */
    color: #fff !important;
    background: rgba(27, 44, 71, 0.5) !important;
    white-space: nowrap;
    /* height: 80vh; */
    margin-left: 5px;
}

thead tr {
    text-align: left;
    font-weight: bold;
}

table th,
table td {
    padding: 12px 15px;
}

tbody td {
    border: 2px solid rgba(89, 105, 133, 0.5);
}

thead td {
    border: 2px solid rgba(89, 105, 133, 0.5);
}

tbody tr {
    border-bottom: 2px solid rgba(89, 105, 133, 0.5);
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

/* Modal Text Color */
.containerDetails,
.header__container__modal {
    /* color: black !important; */
}

.modal__open__details {
    background: #1111114d;
}

.modal-content {
    background: #0e2c599c !important;
    /* delay: 0 !important; */
    transition: all 0ms !important;
}

.btn-close {
    filter: invert(1);
}

.modal-content:before {
    position: absolute;
    content: '';
    z-index: -1;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    backdrop-filter: blur(12px);
}

.modal-header,
.modal-footer {
    border-color: #2d61db !important;
}

.login__container {
    /* width: 60%; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login__container .login__card {
    border: 2px solid rgba(89, 105, 133, 0.5);
    border-radius: 10px;
    background-color: rgba(27, 44, 71, 0.5);
    padding: 30px;
}
